<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/shopIndex.css">
</head>

<body>
    <div class="background-image">
        <img src="images/kanistra-studio-19-pawnshop.jpg" alt="Pawnshop">
    </div>
    <header class="header">
        <a href="/" div class="logo">PawnShop</div></a>
        <% var Id_Customer = 0%>
            <% for(let i = 0; i < Customers.length;i++) {%>
                <% if(Name == Customers[i].Name ){%>
                    <nav class="navbar">
                        <div class="customerid">
                            ชื่อ :
                            <%= Name%>
                        </div>
                        <% Id_Customer = Customers[i].Customer_Id %>
                            <a href="/Pawn_Product/<%=Name%>/<%=Customers[i].Customer_Id%>">จำนำของ</a>
                            <% break %>
                                <%}%>
                                    <%}%>
                                        <a href="/Record_Pawn/<%=Id_Customer%>">ดูประวัติการจำนำ</a>
                                        <a href="/">ออกจากระบบ</a>
    </header>
    </nav>
    </div>
    </div>
</body>

</html>