@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Itim&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    font-family: "K2D", sans-serif;

    margin: 0;
    padding: 20px;
    background-image: url('https://i.pinimg.com/564x/43/9b/31/439b31c65fd26217aed052805c593fab.jpg');
    background-color: #c9d6ff;
    height: 90vh;
    background-position: center;
}

.container {
    max-width: 800px;
    margin: 78px auto 650px auto; /* Adjust margin-top value to push the table down */
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #ddd;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.button {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    text-decoration: none;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
}

.button:hover {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}