@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    background-color:transparent;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    opacity: 0.95;
    user-select: none
}

.background-clip {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    object-fit: cover;
    filter: blur(6px);
}
.PawnShop{
    font-size: 2em;
    color:#fff;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color:#fff;
    text-decoration:none;
    font-weight: 500;
    margin-left: 40px;
    user-select: none
}

.navigation .btnLogin-popup {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #fff;
    margin: 0 10px;
    transition: all 0.3s ease;
    user-select: none
}

a:hover {
    background-color: #fff;
    color: #fff;
}

a:first-child {
    margin-right: 0;
}

a:last-child {
    margin-left: 0;
}

.THEPAWN{
    align-items: center;
    align-content: center;
    margin-top: 450px;
    font-size: 60px;
    color: #fff;
    user-select: none
}







