@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Itim&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
    font-family: "K2D", sans-serif;

}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding:1.8rem 10%;
    background: rgba(0,0,0,.1);
    backdrop-filter: blur(4px) ;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::after{
    content:'';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background:linear-gradient(90deg , transparent , rgba(255,255,255,.4), transparent);
    transition: .5s;
}

.header:hover::after{
    left: 100%;
}

.navbar a {
    font-size: 1.15rem;
    color:aliceblue;
    text-decoration: none;
    font-weight: 500;
    margin-left: 1.5rem ;
}

.background-container {
    position: fixed;
    max-width: 400px;
    border-radius: 5px;
    overflow: hidden; 
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    filter: blur(0px);
    background-size: cover;
    background-repeat: no-repeat;
}

.logo{
    font-size: 2rem;
    color:#fff;
    text-decoration: none;
    font-weight: 700;
}

.customerid {
    color: #fff;
    margin-bottom: 15px;
    font-weight: 500;
    margin-left: 1.5rem;
    background-color: #553333; 
    padding: 0.5rem 1rem; 
    border-radius: 15px; 
    text-transform: uppercase;
    letter-spacing: 1.5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease;
    font-family: "K2D", sans-serif;
}

.customerid:hover {
    transform: translateY(-2px); /* Lift slightly on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

.datafont{
    font-size: 2rem;
    color:#fff;
    text-decoration: none;
    font-weight: 700;
    font-family: "K2D", sans-serif;

}

































