<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="../css/login.css">
</head>

<body>
    <video autoplay loop muted playsinline class="background-clip">
            <source src="images\PAWNSHOP INTRO.mp4" type="video/mp4">
        </video>
    <header>
        <h1 class="PawnShop">PawnShop</h1>
        <nav class="navigation">
            <a href="/Sign_in" class="btnLogin-popup">ล็อกอิน</a>
            <a href="/Sign_up" class="btnLogin-popup">สมัครสมาชิก</a>

        </nav>
    </header>
    <div class="THEPAWN">
        <center>
            <h1>THE PAWNSHOP</h1>
        </center>
    </div>
    </div>
</body>

</html>