<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/signup.css">
    <title>Document</title>
</head>

<body>
    <div class="background-image">
        <img src="images/inside-Pawnshop.jpg" alt="Pawnshop">
    </div>
        <div class="container">
            <form action="/Register_Customer" method="post">
                <center><h1> สมัครสมาชิก</h1></center><br>
                <div class="from-group">
                    <input type="text" id="Name" name="Name" placeholder="กรุณาใส่ชื่อของคุณ " class="form-control" required>
                </div><br>
                <div class="from-group">
                    <input type="text" id="Phone" name="Phone" placeholder="กรุณาใส่เบอร์โทรศัพท์ " class="form-control" required>
                </div><br>
                <div class="from-group">
                    <input type="text" id="Email" name="Email" placeholder="กรุณาใส่อีเมลของคุณ " class="form-control" required>
                </div><br>
                <div class="from-group">
                    <textarea class="form-control" id="Address" name="Address" rows="3" placeholder="กรุณาใส่ที่อยู่ของคุณ " required></textarea>
                </div><br>
                <div class="from-group">
                    <input type="text" id="Password" name="Password" placeholder="กรุณาใส่รหัสผ่านของคุณ " class="form-control" required>
                </div><br>
                <center><a href="/Sign_in">มีบัญชีอยู่แล้ว ? </a></center><br>
                <div class="btn-signin">
                    <center><input type="submit" value="Sign up"></center>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
